{{ if not (in (.Site.BaseURL | string) "localhost") }}
  <div
    id="fixed-banner"
    class="fixed bottom-0 z-50 float-none w-full m-auto overflow-hidden text-center"
  >
    <center>
      <a
        id="close-fixed-banner"
        onclick='document.getElementById("fixed-banner").style.display = "none";'
        class="cursor-pointer"
        ><img
          alt="close"
          src="https://yess-online.com/close.png"
          title="close button"
          class="align-middle"
      /></a>
    </center>
    <div class="block h-auto max-w-3xl m-auto overflow-hidden text-center">
      <center>
        <script type="text/javascript">
          atOptions = {
            'key' : 'ec4210a5bb860b8444bc3a152a7f2030',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
          };
          document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://versatileadvancement.com/ec4210a5bb860b8444bc3a152a7f2030/invoke.js"></scr' + 'ipt>');
        </script>
        <iframe
          allowtransparency="true"
          scrolling="no"
          frameborder="0"
          framespacing="0"
          height="250"
          width="350"
          src="about:blank"
        ></iframe>
        <script
          type="text/javascript"
          src="versatileadvancement.com/ec4210a5bb860b8444bc3a152a7f2030/invoke.js"
          class="atScriptec4210a5bb860b8444bc3a152a7f2030_0"
        ></script>
      </center>
    </div>
  </div>
{{ end }}