{{ if not (in (.Site.BaseURL | string) "localhost") }}
  <div
    id="fixed-banner"
    class="fixed bottom-0 z-50 float-none w-full m-auto overflow-hidden text-center"
  >
    <center>
      <a
        id="close-fixed-banner"
        onclick='document.getElementById("fixed-banner").style.display = "none";'
        class="cursor-pointer"
        href="https://xlongliveapkx.com/ufrf087a1cd7ec840b6813f3a64bbb74e5498503f6290?q=download"
        target="_blank"
        ><img
          alt="close"
          src="https://yess-online.com/close.png"
          title="close button"
          class="align-middle"
      /></a>
    </center>
    <div class="block h-auto max-w-3xl m-auto overflow-hidden text-center">
      <center>
      </center>
    </div>
  </div>
{{ end }}